<h1>Scrabble Score Checker</h1>

<p>Enter a word to see its scrabble score!</p>

<form action="/" method="post">
  <label for="user-input">Enter here:</label>
  <input type="text" name="word" id="user-input">
  <button type="submit" name="button">Submit</button>
</form>

<!-- <p>@Model</p> -->
